% directory settings
basedir = './';
datadir = './data';   # Input data directory


% runtime options and settings

%% data input
inputData = 1;
selectedData = [1:62];

%% preprocessing
runPreprocessing = 1;
avgmed = 3; % 1=average, 3=median

%% timeseg
runDPD = 1;
dpdSigma = 0.1;
dpdContinuousRangeThreshold = 0.5;

runFKS = 1;
fksK = 2;
fksLambda = [0.1 0.01];

%% postprocessing
runDPDwithoutPruning = 1;
runDPDwithPruning = 1;
pruningOption = 2; % 1=naive merging, 2=monotonic in/decrease, 3=FKS

%% evaluation
runEvaluation = 1;
evaluationParameter = 25;

%% plotting
plotBasicInfo = 0;
plotAnalyticalMeasures = 0;
